<!DOCTYPE html>
<html>

<head>
    <title>Foodie Restaurant - About</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>

    <h1>🍽️ About Foodie Restaurant</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/menu">Menu</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/order">Order Now</a>
    </nav>

</header>

<section class="about">

    <h2>About Us</h2>

    <p>
        Welcome to Foodie Restaurant!
    </p>

    <p>
        We provide fresh, delicious and quality food
        for our customers.
    </p>

    <p>
        Our goal is to give customers a great food
        experience at an affordable price.
    </p>

</section>

</body>

</html>