<!DOCTYPE html>
<html>

<head>
    <title>Foodie Restaurant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>

        <h1>🍽️ Foodie Restaurant</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/order">Order Now</a>
        </nav>

    </header>

    <section class="hero">
        <img src="{{ url_for('static', filename='restaurant.jpg') }}"
     alt="Restaurant Food"
     class="hero-image">

        <h2>Welcome to Foodie Restaurant</h2>

        <p>
            Delicious food made with love.
        </p>

        <a href="/menu">
         <button>View Menu</button>
      </a>

    </section>

</body>

</html>